/* Farben global hier definieren */
:root {
  --clr-primary: #651fff;
  --clr-blue: #6495ED;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
  --clr-white: white;
  --clr-black: black;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  color: var(--clr-gray);
}
.banner-img {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-flex{
  display: flex;
}
.container{
  flex:1;
  position: relative;
  overflow: hidden;
  border-radius: 15pt;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 280px;
  min-width: 280px;
  margin-left:1rem;
}

.description{
  text-align: center;
  margin: 1.5rem;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
.profile-img{
  clip-path:circle(60px at center);
  width: 120px;
  height: 120px;
  margin-top: 6rem;
  margin-left: 5rem;
}
.btn {
  width: 100%;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: bold;
  font-size:1rem;
  height: 3rem;
  border: none;
  transition: all 0.2s;
}
.btn:hover{
  background-color:var(--clr-blue);
}

@media(max-width:480px){
  .wrapper-flex{
    flex-direction: column;
  }
  .container{
    margin-bottom:1rem;
  }
}