body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90vw;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;

    /* Start ab hier: */

    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly;
    align-items: center; */
    flex-wrap: wrap; 
    /* Macht mehr Zeilen, wenn nicht genug Platz in einer Zeile ist*/
    /* Eine Flexbox hat eine Main und eine Cross Axis*/

}

#container div {
    width: 300px;
    height: 70px;

}


